.container{
    display: grid;
    grid-template-areas: "header header header"
                         "sidebar main main"
                         "sidebar main main"
                         "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:100px 200px 200px 75px;
    text-align: center;
}

.item{
    border: 1px solid black
}

.header{
    grid-area: header;
    background-color: #e63946;
    color: white;
}

.sidebar{
    grid-area: sidebar;
    background-color: #1d3557;
    color: white;
}

.main{
    grid-area: main;
    background-color: #a8dadc;
}

.footer{
    grid-area: footer;
    background-color: #457b9d;
    color: white;
}
