.container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 100px;
    background-color: cornflowerblue;
    text-align: center;
}

.item{
    margin: 30px;
    background-color: lightblue;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: lightcoral;
}

.celda{
    background-color: crimson;
    color: whitesmoke;
}